.profile-image {
    width:100%;
}

ion-content {
    height: calc(100% - 50px);
}

ion-col {
    font-size: 16px;
}

ion-card-header {
    padding:10px;

    ion-card-title{
        font-size: 20px;
    }
    
}

