<ion-header>
  <ion-toolbar>
    <ion-title>My Profiles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddPost()">
        <ion-icon name="add-circle"></ion-icon>
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading"
  id="myHoro">
  <ion-list>
    <ion-item class=""
      (click)="viewProfile(post.id)"
      *ngFor="let post of posts"
      detail>
      <ion-avatar slot="start"
        class="large-avatar">
        <img
          [src]="post._embedded['wp:featuredmedia'] ? post._embedded['wp:featuredmedia'][0].source_url : defaultImage"
          alt="{{ post.title.rendered }}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ post.meta.name }}</h2>
        <p>{{ post.meta.star }},
          {{ post.meta?.raasi }},
          {{ post.meta?.sevvai ? "Sevvai" : "" }}

        </p>



        <!-- <p>{{ }}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-content *ngIf="loading">
  <div class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Loading posts...</p>
  </div>
</ion-content>