<ion-header>
  <ion-toolbar>
    <ion-title>Kongu Match</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon> <!-- Three dots icon -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet> <!-- This will render the active page -->
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <!-- Home Tab -->
    <ion-tab-button [routerLink]="['/tab/tab1']"
      routerLinkActive="active-tab">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>My Profiles</ion-label>
    </ion-tab-button>

    <!-- Search Tab -->
    <ion-tab-button [routerLink]="['/tab/tab2']"
      routerLinkActive="active-tab">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <!-- Settings Tab -->
    <ion-tab-button [routerLink]="['/tab/tab3']"
      routerLinkActive="active-tab">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>